{% extends "base.html" %}

{% block content %}
<div class="main">
    <p class="sign" align="center">{{ title }}</p>
    <form action="{{ url_for('register') }}" method="post">
        <div align="center" style="color:red" class="msg">{{ msg }}</div>
                <input 
                    id="username" 
                    name="username" 
                    type="text" 
                    placeholder="Enter Your Username" 
                    class="loginDetails"
                    required/>
                <input 
                    id="password" 
                    name="password" 
                    type="password" 
                    placeholder="Enter Your Password" 
                    class="loginDetails"
                    required/>
                <input 
                    id="email" 
                    name="email" 
                    type="email"
                    placeholder="Enter Your Email ID" 
                    class="loginDetails"
                    required/>
                <input 
                    type="submit" 
                    class="signInBtn"
                    value="Sign Up"></br>
            </form>
        <p class="user" align="center">
            Already have an account? <a class="bottom" href="{{url_for('sign_in')}}">Sign in here</a>
        </p>
    </div>
</p>
{% endblock %}

<!-- https://www.geeksforgeeks.org/login-and-registration-project-using-flask-and-mysql/ -->
