<!doctype html>
<!--TODO: correct microblog wording-->

<style>
  th,td,tr {
    padding: 10px;
    text-align: center;
  }
</style>

<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to Baseball DB Application.</title>
      {% endif %}

      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "navbar">
          <a href="{{ url_for('home') }}">Baseball Database</a>
            <div class="navbarMenus">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('sign_in')}}">Sign In</a>
                <a href="{{ url_for('search') }}">Search</a>
            </div>
        </div> <!-- TODO: Turn into list navigation-->
        <div class="blockContent">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>