{% extends "search.html" %}

{% block nameResultsContent %}
<center>
  <h1>Players Found</h1>
  <form action="" method="post" novalidate>
    {{ selectPlayer.csrf_token }}
    {{ selectPlayer.player_id }}
    <input type="submit"/>
  </form>
  <table border="1">
    <tr>
      <th>Player ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Search?</th>
    </tr>

    {% for line in nameResults%}
    <tr>
      <!--Variable names here must match exact to ORM-->
      <td>{{ line.playerID }}</td>
      <td>{{ line.nameFirst }}</td> 
      <td>{{ line.nameLast }}</td>
      <td>FORM FIELD SELECT</td>
    </tr>
    {% endfor %}
</center>
{% endblock %}