{% extends "base.html" %}

{% block content %}
  <h1>Search</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.first_name.label }}<br>
      {{ form.first_name(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  {% if results %}
  <center>
    <table border="1">
      <tr>
        <th>PlayerID </th>
        <th>YearID</th>
        <th>Stint</th>
        <th>Team</th>
        <th>Games</th>
      </tr>

      {% for line in results%}
      <tr>
        <td>{{ line.playerid }}</td>
        <td>{{ line.yearID }}</td> <!--Variable names here must match exact to ORM-->
        <td>{{ line.stint }}</td>
        <td>{{ line.team }}</td>
        <td>{{ line.G }}</td>   
      </tr>
      {% endfor %}

    </table>
  </center>
  {% endif %}
  
{% endblock %}