{% extends "base.html" %}

{% block content %}
<div>
  <p class="sign" align="center">Player Search</p>
  <form class="form1" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p align="center">
      {# {{ form.player_id.label }} {{ form.player_id(size=32) }}<br> #}
      {{ form.first_name.label }} {{ form.first_name(size=32) }}<br>
      {{ form.last_name.label }} {{ form.last_name(size=32) }}
    </p>
    <p align="center">{{ form.submit() }}</p>
  </form>
</div>

{% endblock %}