{% extends "base.html" %}

{% block content %}
<div class="main">
    <p class="sign" align="center">Sign In</p>
    <form class="form1" action="{{ url_for('sign_in') }}" method="post">
        <div align="center" style="color:red">{{ msg }}</div>
        <input id="username" 
            name="username" 
            class="loginDetails "
            type="text" 
            align="center" 
            placeholder="Username"
            required/>
        <input id="password" 
            name="password" 
            class="loginDetails"
            type="password" 
            align="center" 
            placeholder="Password"
            required/>
        <input class="signInBtn"
            type="submit" 
            align="center" 
            value="Sign In"/>
        <p class="user" align="center"><a href="#">Forgot Password?</a></p>
        <p class="user" align="center"><a href="{{url_for('register')}}">Sign up here</a></p>
    </form>
</div>
{% endblock %}

<!--https://speckyboy.com/login-pages-html5-css/ -->