{% extends "base.html" %}

{% block content %}
</br></br></br>
<div align="center">
  <div align="center" class="border">
    <h1 class="bottom">
      <p>Hi, {{ session.username }}!!</p>
      <p>Welcome to the BaseBall Database Application. Please Select one of the following options to continue.</p>
    </h1>
    </br></br>
    <a href="{{ url_for('allPlayers') }}" class="searchBtn">Show all Players</a>
    <a href="{{ url_for('search') }}" class="searchBtn">Search a Player</a>
  </div>
</div>
{% endblock %}

<!-- https://www.geeksforgeeks.org/login-and-registration-project-using-flask-and-mysql/ -->
